<h1>Workout page</h1>
<%=  @workout.workout_date %>


<h2>Add Exercises</h2>
<% @workout.exercises.each do |exercise| %>
	<div class="col-md-12 jumbotron">
		Name: <%= exercise.name%>
		<div class="pull-right">
			<%= link_to "add sets", exercise_path(exercise),class: "btn btn-primary" %>
			<%= link_to "Delete", exercise_path(exercise),class: "btn btn-danger",
			data: { confirm: 'Are you sure?'}, :method => :delete%>
		</div>
		
	
	</div>
<% end %>

<div class="col-md-offset-3">
	<%= form_for([@workout, @workout.exercises.build]) do |f| %>
		<%= f.label :name%>
		<%= f.text_field :name%>
		<%= f.submit class:"btn btn-success"%>
	<%end%>
</div>
