<div class="col-md-4 jumbotron">
	<h1>User profile</h1>
	<h3>email:</h3><%= @user.email%>
	<h3>name: </h3>
	<% if @user.name == nil %>
				<p><%= link_to "Please Complete your profile", edit_user_path(current_user) %></p>
	<% else %>
	<%= @user.name%>
	<% end %>
	<h3>age: </h3>
	<% if @user.age == nil %>
				<p><%= link_to "Please Complete your profile", edit_user_path(current_user) %></p>
	<% else %>
	<%= @user.age%>
	<% end %>
	<h3>weight: </h3>
	<% if @user.weight == nil %>
				<p><%= link_to "Please Complete your profile", edit_user_path(current_user) %></p>
	<% else %>
	<%= @user.weight%>
	<% end %>
	<h3>height: </h3>
	<% if @user.height == nil %>
				<p><%= link_to "Please Complete your profile", edit_user_path(current_user) %></p>
	<% else %>
	<%= @user.height%>
	<% end %>
	<h3>goal: </h3>
	<% if @user.goal == nil %>
				<p><%= link_to "Please Complete your profile", edit_user_path(current_user) %></p>
	<% else %>
	<%= @user.goal%>
	<% end %>
</div>


<div class="col-md-6 col-md-offset-1 jumbotron">
	<h2>Workouts</h2>

<% @user.workouts.each do |workout| %>
<div class="col-md-12">
	<h3>Day: <%= workout.workout_date%></h3>
	<%= link_to "workout", workout_path(workout) , class: "btn btn-primary" %>
	<%= link_to "Delete", workout_path(workout), class: "btn btn-danger",
	data: { confirm: 'Are you sure?'}, :method => :delete %>
</div>
<% end %>

	<div class: "col-md-6">
	<h2>Start Workout</h2>

		<%= form_for([@user, @user.workouts.build]) do |f| %>
			<%= f.label :workout_date%>
			<%= f.date_field :workout_date%>
			<%= f.submit class: "btn btn-success"%>
		<%end%>
	</div>

</div>





