<h1>User profile</h1>
<h3>email</h3><%= @user.email%>
<h3>name: </h3><%= @user.name%>
<h3>age: </h3> <%= @user.age%>
<h3>weight: </h3> <%= @user.weight%>
<h3>height: </h3> <%= @user.height%>
<h3>goal: </h3> <%= @user.goal%>
