<h1>Exercise show page</h1>
<%= @exercise.name%>


<h1>Sets Completed</h1>

<% @exercise.exercise_sets.each do |exercise| %>

   weight:<%= exercise.weight %>
   reps:<%= exercise.reps %>
   
   <%= link_to "Delete Set", exercise_exercise_set_path(exercise, @exercise),
	data: { confirm: 'Are you sure?'}, :method => :delete, class: "btn btn-danger"%>

   
   	
<% end %>


<h2>Add a Set:</h2>
<%= form_for([@exercise, @exercise.exercise_sets.build]) do |f| %>
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </p>
  <p>
    <%= f.label :reps %><br>
    <%= f.number_field :reps %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
  </p>
<% end %>

